.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }

  .item {
    padding: 18px 28px;
    color: #111;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0;
    transition: color 0.2s;

    &.active {
      color: #fff;
    }
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
  }
}

.main {
  max-width: min(800px, 80%);
  margin: 50px auto;
  text-align: justify;

  h1 {
    border-bottom: 5px dashed;
    width: fit-content;
    margin: 0 0 20px;
    font-size: 60px;
    font-weight: 500;

    @media (max-width: 650px) {
      font-size: 30px;
      border-width: 3px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  li {
    list-style-position: inside;
    margin-bottom: 7px;
  }
}
