.pageContainer {
  background-color: var(--color-light);
}
.bgIllustration {
  position: fixed;
  height: 100%;
  background-image: url("/bg.svg");
  width: calc((100vw - 1440px) / 2);
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  width: 100vw;
  pointer-events: none;
  opacity: 0;
  background: black;
}

.footerPage {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-white);
  font-size: 20px;
  z-index: 1;
  position: relative;

  h1 {
    border-radius: 7px;
    padding: 0 7px;
    background: var(--color-accent);
    width: fit-content;
    margin: 0 auto 20px;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
  }
}

.main {
  padding: 60px 100px;
  border-right: 5px dashed var(--color-dark);
}

.description {
  margin-bottom: 50px;
  text-align: center;
}

.content {
  background-color: var(--color-dark);
  min-height: 100vh;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  border-radius: 50px;
}

.contentText {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.block {
  border-radius: 20px;
  background-color: var(--color-white);
  width: 100%;
  padding: 20px;

  dt {
    border-radius: 7px;
    padding: 0 7px;
    background: var(--color-accent);
    width: fit-content;
    margin: 30px 0 10px;
  }

  code {
    border-radius: 7px;
    padding: 0 7px;
    background: var(--color-light);
  }

  &:first-child {
    p:first-child {
      font-size: 30px;
      font-weight: 700;
    }

    text-align: center;
  }
}

.end {
  text-align: center;
}

.footer {
  background: var(--color-dark);
  border-radius: 45px 45px 0 0;
  color: var(--color-light);
  height: 600px;
  font-size: 20px;
  padding: 40px 50px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  svg {
    width: 30px;
    height: 30px;
  }
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 30px;
  margin-bottom: 20px;
}

.footerHeader {
  font-size: 30px;
  max-width: 60%;
  margin: auto;
  font-weight: 700;
  text-align: center;

  span:nth-child(1) {
    border: 2px solid var(--color-accent);
    border-radius: 7px;
    padding: 0 7px;
  }

  span:nth-child(2) {
    color: var(--color-accent);
  }

  span:nth-child(3) {
    text-decoration-color: var(--color-accent);
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
  }
}

.textContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.footerText {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--color-white);

  p {
    width: 370px;
    text-align: justify;

    background-color: var(--color-light);
    border-radius: 30px;
    padding: 20px 30px;
    color: black;
    font-size: 16px;
  }

  p:nth-child(2) {
    background-color: var(--color-accent);
    outline: 2px solid #cafc7e;
    outline-offset: 5px;
  }
}

.action {
  color: var(--color-accent);
  font-weight: 700;
}

.bottom {
  hr {
    margin-bottom: 5px;
  }

  div {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
}
