:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #191a23;
  --color-light: #f3f3f3;
  --color-accent: #b9ff66;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}
